/*
 pzplUI 2.5
 MIT Licensed - https://github.com/ProgramistaZpolski/pzplUI
 */

body {
	margin: 2rem;
	background: #1d1e20;
	color: white;
	line-height: 1.5;
	font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Now Text", "Helvetica Neue", Helvetica, Cantarell, Oxygen, Arial, Tahoma, Geneva, Verdana, "Noto Sans", sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

.h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

button {
	color: white;
	cursor: pointer;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: .3s;
	font-family: inherit;
	background: #0270e6;
}

button:hover {
	background: #0068d7;
}

[data-current] {
	background: #308c34;
}

[data-current]:hover {
	background: #338337;
}

.card {
	padding: 1rem;
	border: 1px solid #384d6cbd;
	border-radius: .25rem;
	margin: 1.5rem;
}

.card-body {
	padding: .5rem 1rem;
}

.card-header {
	padding: .5rem 1rem;
	background: rgba(0, 0, 0, .03);
	border-bottom: 1px solid #384d6cbd;
}

header {
	text-align: center;
}

.card-body pre {
	font-family: unset;
	margin: 1rem;
}